core/impl/src/main/resources/META-INF/portlet-bridge-faces-config-extensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://jboss.org/portletbridge"
    xmlns:bridge="http://jboss.org/portletbridge"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="excluded-attributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="excluded-attribute" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="public-parameter-mappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="bridge:public-parameter-mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="public-parameter-mapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parameter" type="xs:string" />
        <xs:element name="model-el" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="write-behind-response-wrappers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="render-response-wrapper-class" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="resource-response-wrapper-class" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="factories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="bridge-config-factory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="bridge-context-factory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="bridge-controller-factory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="bridge-logger-factory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="bridge-request-scope-manager-factory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="bridge-request-scope-factory" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>