core/portletbridge-impl/src/main/resources/META-INF/portlet2.0-bridge-faces1.2-faces-config-extensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://myfaces.apache.org/portletbridge" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="excluded-attributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="excluded-attribute" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="public-parameter-mappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="public-parameter-mapping" type="parameter-mappingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="parameter-mappingType">
    <xs:sequence>
      <xs:element name="parameter" type="xs:string" />
      <xs:element name="model-el" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>